body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.layout-container {
    display: flex;
    flex-direction: column;
}

.header,
.banner,
.footer {
    background-color: #0f172a;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 10%;
    padding-top: 24px;
    align-items: center;
}

.header-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    gap: 16px;
}

.header-patch {
    width: 50px;
}

.header-links,
.staff {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-links {
    gap: 24px;
    align-items: center;
}

.header-link {
    text-decoration: none;
}

.header-link:hover {
    color: #60a5fa;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.banner-heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.banner-text,
.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.web-info {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    gap: 32px;
}

.img-banner {
    display: flex;
    height: auto;
    border-radius: 20%;
    max-width: 45%;
    object-fit: contain;
    flex: 1;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #2563eb;
    font-size: 18px;
    border-radius: 10px;
    padding: 8px;
    width: 20%;
    border-style: none;
}

.banner-btn:hover,
.signup-btn:hover {
    background-color: #3882f6;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    padding: 5% 5%;
    gap: 24px;
}

.photos > div {
  border-bottom: 3px solid #FFD43B;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.staff {
    gap: 32px;
    flex-wrap: wrap;
}

.personel-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-content: center;
    text-align: center;
    font-size: 16px;
}

.personel-card img:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 20px rgba(255, 212, 59, 0.3);
  transition: all 0.3s ease;
}

.personel-card img {
    border-radius: 5%;
    max-width: 250px;
}

.portrait-border {
    padding: 16px;
    background-color: #0f172a;
    border-radius: 5%;
}

.personel-card img,
.img-banner {
    border: solid #FFD43B;
}

.quote-box {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
}

.quote-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    align-items: center;
    font-size: 36px;
    font-weight: 300;
}

.quote-author {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
}

.signup-box {
    display: flex;
    background-color: #1e3a8a;
    margin: 10% 10%;
    border-radius: 10px;
    justify-content: space-between;
    padding: 5% 10%;
}

.signup-banner {
    display: flex;
    /* flex-direction: column; */
    gap: 32px;
    align-items: center;
}

.signup-header {
    font-size: 36px;
    color: #f9faf8;
}

.signup-text {
    font-size: 24px;
    color: #f9faf8;
}

.signup-btn {
    background-color: #2563eb;
    border-radius: 20px;
    border-color: #f9faf8;
    border-width: 3px;
    border-style: solid;
    color: #f9faf8;
    padding: 16px 48px;
    font-size: 24px;
}

.logo-patch {
    height: 100px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e5e7eb;
    padding: 48px;
    gap: 8px;
}

.footer small {
    font-size: 14px;
}